@import 'components/reset';
@import 'components/base';
@import 'components/button';
@import 'components/hamburger';
@import 'components/home';

body {
  background: rgb(65,64,64);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(65,64,64,1) 0%, rgba(35,32,31,1) 50%, rgba(35,32,31,1) 66%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(65,64,64,1) 0%,rgba(35,32,31,1) 50%,rgba(35,32,31,1) 66%);
  background: radial-gradient(ellipse at center,  rgba(65,64,64,1) 0%,rgba(35,32,31,1) 50%,rgba(35,32,31,1) 66%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414040', endColorstr='#23201f',GradientType=1 );

  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-x: hidden;
}
