<div class="mainWrapper">
	<div class="musicianWrapper">
		<div class="bioBanner" [style.background-image]="'url('+ pm.p_musicianObject.picture_url +')'">
			<ul class="bioLinks">
				<li *ngIf="pm.p_musicianObject.instagramLink != null && pm.p_musicianObject.instagramLink != ''">
					<a [attr.href]="pm.p_musicianObject.instagramLink" target="_blank" [attr.data-url]="pm.p_musicianObject.instagramLink">
						<i class="fa fa-instagram"></i>
					</a>
				</li>
				<li *ngIf="pm.p_musicianObject.facebookLink != null && pm.p_musicianObject.facebookLink != ''">
					<a [attr.href]="pm.p_musicianObject.facebookLink" target="_blank" [attr.data-url]="pm.p_musicianObject.facebookLink">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li *ngIf="pm.p_musicianObject.youtubeLink != null && pm.p_musicianObject.youtubeLink != ''">
					<a [attr.href]="pm.p_musicianObject.youtubeLink" target="_blank" [attr.data-url]="pm.p_musicianObject.youtubeLink">
						<i class="fa fa-youtube-play"></i>
					</a>
				</li>
				<li *ngIf="pm.p_musicianObject.soundcloudLink != null && pm.p_musicianObject.soundcloudLink != ''">
					<a [attr.href]="pm.p_musicianObject.soundcloudLink" target="_blank" [attr.data-url]="pm.p_musicianObject.soundcloudLink">
						<i class="fa fa-soundcloud"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="container half bio">
				<h1 id="stage-name" class="title">{{pm.p_musicianObject.stageName || pm.p_musicianObject.firstName + " " + pm.p_musicianObject.lastName}}</h1>
				<div id="bio">{{pm.p_musicianObject.bio || bioFallback}}</div>
			</div>
			<div class="container half myShows">
				<h1 class="title">Upcoming Shows</h1>
				<div class="showList myShowsList">
					<div *ngIf="pm.p_events.length <= 0">This musician currently does not have any shows.</div>
					<div *ngFor="let event of pm.p_events" class="showBlock">
						<a class="showImg" [style.background-image]="'url('+ event.image_url +')'"></a>
						<div class="showDetails">
							<h1>{{event.eventName}}</h1>
							<h3>{{event.eventDate}} &mdash; <span>${{event.cost}} + ${{event.extraAtDoor}} at door</span></h3>
							<a class="btn">Buy Tickets</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
