.adminPanel {
  .createSuccess {
    position: fixed;
    top: 16pt;
    right: 16pt;
    padding: 20pt;
    font-size: $tM;
    color: $bg;
    border-radius: 3px;
    background: #5a8d3e;
    i {
      top: 4pt;
      right: 4pt;
    }
  }
  .adminTabs {
    span {
      display: inline-block;
      padding: 8pt;
      cursor: pointer;
    }
  }
  .adminLogin {
    button {
      margin-top: 16pt;
    }
  }
  .showSearch, .artistSearch {
    display: block;
    margin: 8pt auto;
    width: 50%;
    min-width: 240pt;
  }
}