// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.mainWrapper {
  transition: all .2s cubic-bezier(0.5, 0.31, 0.84, 0.05);
  #header {
    position: relative;
    height: 100vh;
    .splash {
      @include abs-center;
      width: auto;
      max-width: 80vw;
      height: auto;
      max-height: 80vh;
    }
    div {
      @include abs-center;
      text-align: center;
    }
    .title {
      font-size: 6em;
      color: $text-color;
      text-shadow: 4px 4px $bg;
      white-space: nowrap;
      pointer-events: none;
      z-index: 1;
    }
    h2 {
      padding: 12pt 0;
      font-size: $mtL;
      font-weight: bold;
      line-height: 0.6;
      background: $bg;
    }
  }
  #about, #upcoming {
    position: relative;
    width: 720pt;
    min-height: 100vh;
    padding: 40pt 0;
    margin: 0 auto;
    .title {
      color: $red;
      font-size: 3em;
    }
    hr {
      margin: 16pt 0;
    }
  }
  #about {
    h2 {
      font-size: $mtL;
      margin-bottom: 8pt;
    }
    h1 {
      font-size: $mtL;
      font-weight: bold;
    }
    p {
      margin: 0 0 16pt;
    }
  }
  #upcoming {
    .showBlock {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      margin-bottom: 16pt;
      cursor: pointer;
      transition: background .25s ease-in-out;
      .showImg {
        display: block;
        width: 250pt;
        height: 150pt;
        background-size: cover;
      }
      .showDetails {
        margin-left: 16pt;
        h1 {
          font-size: $title;
        }
      }
      &:hover {
        background: $darker-light-grey;
      }
    }
  }
  .fa-chevron-down {
    position: absolute;
    bottom: 16pt;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2em;
    transition: color .15s ease-in;

    &:hover {
      color: $red;
    }
  }
  @include screen('lg') {
    #about, #upcoming {
      width: 80vw;
    }
  }
  @include screen('md') {
    #about, #upcoming {
      width: 80vw;
      padding: 80pt 0;
    }
  }
  @include screen('sm') {
    #header {
      .splash {
        min-width: 100vh;
        min-height: 50vh;
      }
      .title {
        font-size: 15vw;
      }
      h2 {
        padding: 8pt 0;
        font-size: $tM;
        line-height: 1;
      }
    }
    #about, #upcoming {
      width: 100%;
      .title {
        text-align: center;
        font-size: $title;
        margin: 0 16pt;
      }
      hr {
        display: none;
      }
      h2 {
        font-size: $tL;
      }
    }
    #about {
      padding: 56pt 16pt 24pt;
    }
    #upcoming {
      padding: 56pt 0;
      .showBlock {
        flex-flow: column;
        align-items: center;
        padding-bottom: 8pt;
        text-align: center;
        .showImg {
          width: 100%;
        }
        .showDetails {
          margin: 0;
        }
      }
    }
  }
}