.musicianWrapper {
  padding: 80pt 5vw 40pt;
  .musicianTitle {
    font-size: 3em;
    color: $red;
    text-align: center;
  }
  .bioBanner {
    position: relative;
    display: block;
    height: 35vh;
    width: 100%;
    margin: 0 auto;
    text-shadow: 2px 2px $text-color;
    color: $bg;
    background: $darker-light-grey;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    .bioPic {
      @include abs-center;
      width: 96pt;
      height: 96pt;
      border: 2px solid $bg;
      border-radius: 100%;
      background-image: url("http://i.imgur.com/XjNSzYX.jpg");
      background-size: cover;
      background-position: center center;
    }
    .title {
      @include abs-center;
      font-size: 4em;
      z-index: 1;
    }
    ul {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      width: 56pt;

      a {
        position: relative;
        color: $bg;
        font-size: $mtL;
        &:hover {
          &::after {
            opacity: 1;
          }
        }
        &::after {
          position: absolute;
          display: inline-block;
          top: 0.2em;
          left: 2em;
          opacity: 0;
          content: attr(data-url);
          color: $bg;
          font-size: $tS;
          font-weight: bold;
          transition: all .2s ease-in;
          pointer-events: none;
        }
      }
    }
    .bioEditLinks {
      margin-left: 16pt;
      align-items: flex-start;
      input {
        background: rgba($bg, 0.75);
      }
    }
    .edit, .submit, .uploadBanner {
      position: absolute;
      font-size: $tL;
      cursor: pointer;
    }
    .edit, .uploadBanner {
      bottom: 8pt;
      right: 8pt;
    }
    .submit {
      top: 8pt;
      right: 8pt;
    }
  }
  .row {
    margin-top: 16pt;

    .bio {
      a {
        margin-top: 4pt;
        color: $red;
        &:hover {
          color: $text-color;
        }
      }

      #artistBio {
        margin-bottom: 24pt;
      }
    }
    .shows {
      .title {
        font-size: 3em;
        color: $red;
        text-align: center;
      }
      .showTabs {
        white-space: nowrap;
      }
      .myShows, .availableShows {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 160pt;
        padding: 8pt 0;
        background: $bg;
        border: 1px solid $text-color;
        border-radius: 12pt 4pt 0 0;
        font-weight: bold;
        transition: all .15s ease;
        cursor: pointer;
        z-index: 0;
      }
      .availableShows {
        margin-left: -8pt;
      }
      .activeTab {
        color: $bg;
        background: $text-color;
        z-index: 1;
      }
      .showBlock {
        flex-flow: column;
        align-items: center;
        padding-bottom: 8pt;
        text-align: center;
        &:hover {
          background: $bg;
        }
        .showImg {
          width: 100%;
        }
        .showDetails {
          margin: 0;

          .btn {
            margin: 8pt auto;
          }
        }
      }
    }
  }
}

@include screen('md') {
  .musicianWrapper {
    padding: 120pt 8pt 40pt;
    .bio {
      .bioBanner {
        width: 100%;
      }
    }
  }
}
@include screen('sm') {
  .musicianWrapper {
    padding: 56pt 8pt 24pt;
    .title {
      font-size: $title;
    }
    hr {
      display: none;
    }
    .bio {
      margin-bottom: 24pt;
      text-align: center;
      background: $light-grey;
      .bioBanner {
        .title {
          top: 75%;
          transform: translate(-50%,0);
          font-size: $mtL;
        }
        .bioLinks {
          flex-flow: row nowrap;
          width: 100%;
          height: 56pt;

          a {
            &::after {
              display: none;
            }
          }
        }
        .bioEditLinks {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .musicianWrapper {
    .shows {
      .title {
        font-size: $title;
      }
    }
  }
}

.joinShowModal {
  padding: 24pt;
  text-align: left;
  h1 {
    cursor: pointer;
  }
  p {
    color: $dark-grey;
    margin-left: 24pt;
    font-size: $tS;
  }
  a {
    color: $red;
  }
  button {
    margin-top: 8pt;
    &:hover {
      background: $red;
    }
  }
}