<div class="mainWrapper">
	<div class="musicianWrapper">
		<h1 class="musicianTitle">Musician Dashboard</h1>
		<div class="bioBanner" [style.background-image]="'url(res/banner.jpg)'">
			<div class="bioPic" [style.background-image]="'url('+ ps.musicianObject.picture_url +')'"></div>
			<span class="submit" (click)="saveMusicianData()" style="display: none">SAVE <i class="fa fa-lock" aria-hidden="true"></i></span>
			<ul class="bioLinks">
				<li *ngIf="ps.musicianObject.instagramLink != null && ps.musicianObject.instagramLink != ''">
					<a [attr.href]="ps.musicianObject.instagramLink" target="_blank" [attr.data-url]="ps.musicianObject.instagramLink">
						<i class="fa fa-instagram"></i>
					</a>
				</li>
				<li *ngIf="ps.musicianObject.facebookLink != null && ps.musicianObject.facebookLink != ''">
					<a [attr.href]="ps.musicianObject.facebookLink" target="_blank" [attr.data-url]="ps.musicianObject.facebookLink">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li *ngIf="ps.musicianObject.youtubeLink != null && ps.musicianObject.youtubeLink != ''">
					<a [attr.href]="ps.musicianObject.youtubeLink" target="_blank" [attr.data-url]="ps.musicianObject.youtubeLink">
						<i class="fa fa-youtube-play"></i>
					</a>
				</li>
				<li *ngIf="ps.musicianObject.soundcloudLink != null && ps.musicianObject.soundcloudLink != ''">
					<a [attr.href]="ps.musicianObject.soundcloudLink" target="_blank" [attr.data-url]="ps.musicianObject.soundcloudLink">
						<i class="fa fa-soundcloud"></i>
					</a>
				</li>
			</ul>
			<ul style="display: none" class="bioEditLinks">
				<input type="text" id="instagram-url" placeholder="Instagram">
				<input type="text" id="facebook-url" placeholder="Facebook">
				<input type="text" id="youtube-url" placeholder="Youtube">
				<input type="text" id="soundcloud-url" placeholder="Soundcloud">
				<input type="text" id="profile-url" placeholder="Profile Picture URL">
			</ul>
			<span class="uploadBanner" style="display: none">UPLOAD BANNER <i class="fa fa-camera" aria-hidden="true"></i></span>
			<span class="edit" (click)="editSys()">EDIT <i class="fa fa-edit" aria-hidden="true"></i></span>
		</div>
		<div class="row">
			<div class="container half bio">
				<h2>Share your profile with fans:</h2>
				<a [routerLink]="'/musician/' + ps.musicianObject.urlValue" target="_blank">http://www.nrshows.com/musician/{{ps.musicianObject.urlValue}}</a>
				<label>Email: </label>
				<div id="artistEmail" [innerHTML]="ps.musicianObject.email"></div>
		        <label>Phone Number: </label>
				<div id="artistPhone" [innerHTML]="ps.musicianObject.phoneNumber"></div>
				<h1 id="stage-name" class="title">{{ps.musicianObject.stageName || ps.musicianObject.firstName + " " + ps.musicianObject.lastName}}</h1>
				<div id="bio" style="white-space: pre-wrap" [innerHTML]="ps.musicianObject.bio | embed | async"></div>
			</div>
			<div class="container half shows">
				<span class="showTabs">
					<span class="tab myShows activeTab">My Shows</span>
					<span class="tab availableShows">Available Shows</span>
				</span>
				<div class="showList myShowsList">
					<div *ngIf="ps.musicianObject.events.length <= 0">You are currently not apart of any shows.</div>
					<div *ngFor="let event of ps.musicianObject.events" class="showBlock">
						<a class="showImg" [style.background-image]="'url('+ event.image_url +')'"></a>
						<div class="showDetails">
							<h1>{{event.eventName}}</h1>
		                    <h2>Headliner: {{event.headliner}}</h2>
		                    <h3>Address: {{event.street_name}}, {{event.city}}, {{event.state}} {{event.zip_code}}</h3>
		                    <h3>Venue: {{event.venue}}</h3>
							<h3>{{event.eventDate | date: "yMMMMd"}} &mdash; <span>${{event.cost}} + ${{event.extraAtDoor}} at door</span></h3>
							<a (click)="cardNewWindow()" class="btn">Buy Tickets</a>
							<h3 class="progress">Sold:
								<span class="sold">{{event._ticketsSold}}</span>/<span class="needed">{{event.numberNeededToSell}}</span>
							</h3>
						</div>
					</div>
				</div>
				<div class="showList availableShowsList" style="display: none">
					<div *ngIf="!ps.musicianObject.phoneNumber || !ps.musicianObject.email">You must enter your email and phone number to be eligible for shows.</div>
					<div *ngIf="ps.musicianObject.possibleEvents.length <= 0 && ps.musicianObject.phoneNumber && ps.musicianObject.email">There are currently no possible shows.</div>
					<ng-container *ngIf="ps.musicianObject.phoneNumber && ps.musicianObject.email">
						<div *ngFor="let event of ps.musicianObject.possibleEvents" class="showBlock">
							<a class="showImg" [style.background-image]="'url('+ event.image_url +')'"></a>
							<div class="showDetails">
								<h1>{{event.eventName}}</h1>
			                    <h2>Headliner: {{event.headliner}}</h2>
			                    <h3>Address: {{event.street_name}}, {{event.city}}, {{event.state}} {{event.zip_code}}</h3>
			                    <h3>Venue: {{event.venue}}</h3>
								<h3>{{event.eventDate | date: "yMMMMd"}} &mdash; <span>${{event.cost}} + ${{event.extraAtDoor}} at door</span></h3>
								<a class="btn" (click)="viewShow($event)">Join Show</a>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal joinShowModal" style="display: none">
	<i class="fa fa-times exit"></i>
	<h1><i class="fa fa-chevron-down rotate"></i> Terms and Conditions</h1>
	<p>By joining this event you are agreeing to the Nu-Ricks terms of service. <a href="">Read TOS.</a></p>
	<hr>
	<h1><i class="fa fa-chevron-down"></i> Event Details</h1>
	<h3 *ngIf="evs.event.ageRequirement">Must be over {{evs.event.ageRequirement}}</h3>
	<h3>Need to sell {{evs.event.numberNeededToSell}} tickets</h3>
	<h3>Located {{evs.event.street_name}} {{evs.event.city}}, {{evs.event.state}} {{evs.event.zip_code}}</h3>
	<h3>Sound check at {{evs.event.doorsOpen}}</h3>
	<h3>Show starts at {{evs.event.ShowStarts}}</h3>
	<p></p>
	<hr>
	<button (click)="submitCreateTicket()">Join Event</button>
</div>
