<div class="mainWrapper">
	<div class="musicianWrapper">
		<div class="bio">
			<div class="bioPic">
				<h1 class="title">{{ps.musicianObject.stageName}}</h1>
				<ul>
					<li>
						<a href="http://instagram.com" target="_blank" [attr.data-url]="ps.musicianObject.instagramLink">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="http://facebook.com" target="_blank" [attr.data-url]="ps.musicianObject.facebookLink">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="http://twitter.com" target="_blank" [attr.data-url]="'Twitter'">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="http://soundcloud.com" target="_blank" [attr.data-url]="ps.musicianObject.soundcloudLink">
							<i class="fa fa-soundcloud"></i>
						</a>
					</li>
				</ul>
				<i class="fa fa-camera" aria-hidden="true"></i>
			</div>
		</div>
		<div class="myShows">
			<h1 class="title">My Shows</h1>
			<hr>
			<div class="showBlock">
				<a class="showImg" style="background-image: url('https://i.imgur.com/pvpxpbV.png')"></a>
				<div class="showDetails">
					<h1>Event Name</h1>
					<h3>March 18, 2017 &mdash; <span>$XX</span></h3>
					<a class="btn">Buy Tickets</a>
				</div>
			</div>
			<div class="showBlock">
				<a class="showImg" style="background-image: url('https://i.imgur.com/pvpxpbV.png')"></a>
				<div class="showDetails">
					<h1>Event Name</h1>
					<h3>March 18, 2017 &mdash; <span>$XX</span></h3>
					<a class="btn">Buy Tickets</a>
				</div>
			</div>
			<div class="showBlock">
				<a class="showImg" style="background-image: url('https://i.imgur.com/pvpxpbV.png')"></a>
				<div class="showDetails">
					<h1>Event Name</h1>
					<h3>March 18, 2017 &mdash; <span>$XX</span></h3>
					<a class="btn">Buy Tickets</a>
				</div>
			</div>
		</div>
	</div>
</div>
