<div class="mainWrapper">
	<div class="musicianWrapper">
		<h1 class="musicianTitle">Musician Dashboard</h1>
		<div class="bioBanner" [style.background-image]="'url('+ ps.musicianObject.picture_url +')'">
			<span class="submit" (click)="saveMusicianData()" style="display: none">SAVE <i class="fa fa-lock" aria-hidden="true"></i></span>
			<ul class="bioLinks">
				<li *ngIf="ps.musicianObject.instagramLink != null && ps.musicianObject.instagramLink != ''">
					<a [attr.href]="ps.musicianObject.instagramLink" target="_blank" [attr.data-url]="ps.musicianObject.instagramLink">
						<i class="fa fa-instagram"></i>
					</a>
				</li>
				<li *ngIf="ps.musicianObject.facebookLink != null && ps.musicianObject.facebookLink != ''">
					<a [attr.href]="ps.musicianObject.facebookLink" target="_blank" [attr.data-url]="ps.musicianObject.facebookLink">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li *ngIf="ps.musicianObject.youtubeLink != null && ps.musicianObject.youtubeLink != ''">
					<a [attr.href]="ps.musicianObject.youtubeLink" target="_blank" [attr.data-url]="ps.musicianObject.youtubeLink">
						<i class="fa fa-youtube-play"></i>
					</a>
				</li>
				<li *ngIf="ps.musicianObject.soundcloudLink != null && ps.musicianObject.soundcloudLink != ''">
					<a [attr.href]="ps.musicianObject.soundcloudLink" target="_blank" [attr.data-url]="ps.musicianObject.soundcloudLink">
						<i class="fa fa-soundcloud"></i>
					</a>
				</li>
			</ul>
			<ul style="display: none" class="bioEditLinks">
				<input type="text" id="instagram-url" placeholder="Instagram">
				<input type="text" id="facebook-url" placeholder="Facebook">
				<input type="text" id="youtube-url" placeholder="Youtube">
				<input type="text" id="soundcloud-url" placeholder="Soundcloud">
				<input type="text" id="profile-url" placeholder="Profile Picture URL">
			</ul>
			<span class="uploadBanner" style="display: none">UPLOAD BANNER <i class="fa fa-camera" aria-hidden="true"></i></span>
			<span class="edit" (click)="editSys()">EDIT <i class="fa fa-edit" aria-hidden="true"></i></span>
		</div>
		<div class="row">
			<div class="container half bio">
				<h1 id="stage-name" class="title">{{ps.musicianObject.stageName || ps.musicianObject.firstName + " " + ps.musicianObject.lastName}}</h1>
				<div id="bio">{{ps.musicianObject.bio || bioFallback}}</div>
				<a [routerLink]="'/musician/' + ps.musicianObject.urlValue" target="_blank">http://www.nrshows.com/musician/{{ps.musicianObject.urlValue}}</a>
			</div>
			<div class="container half shows">
				<span class="showTabs">
					<span class="myShows activeTab">My Shows</span>
					<span class="availableShows">Available Shows</span>
				</span>
				<div class="showList myShowsList">
					<div *ngIf="ps.musicianObject.events.length <= 0">You are currently not apart of any shows.</div>
					<div *ngFor="let event of ps.musicianObject.events" class="showBlock">
						<a class="showImg" style="background-image: url('https://i.imgur.com/pvpxpbV.png')"></a>
						<div class="showDetails">
							<h1>{{event.eventName}}</h1>
							<h3>{{event.ShowStarts}} &mdash; <span>${{event.cost}} + ${{event.extraAtDoor}} at door</span></h3>
							<a class="btn">Buy Tickets</a>
							<h3 class="progress">Sold:
								<span class="sold">5</span>/<span class="needed">25</span>
							</h3>
						</div>
					</div>
				</div>
				<div class="showList availableShowsList" style="display: none">
					<div *ngIf="ps.musicianObject.possibleEvents.length <= 0">There are currently no possible shows.</div>
					<div *ngFor="let event of ps.musicianObject.possibleEvents" class="showBlock">
						<a class="showImg" [style.background-image]="'url('+ event.image_url +')'"></a>
						<div class="showDetails">
							<h1>{{event.eventName}}</h1>
							<a class="btn">Join Show</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal joinShowModal" style="display: none">
	<i class="fa fa-times exit"></i>
	<h1><i class="fa fa-chevron-down rotate"></i> Terms and Conditions</h1>
	<p>By joining this event you are agreeing to the Nu-Ricks terms of service. <a href="">Read TOS.</a></p>
	<hr>
	<h1><i class="fa fa-chevron-down"></i> Event Details</h1>
	<p></p>
	<hr>
	<button>Join Event</button>
</div>
