<body>
    <nav>
    	<a [routerLink]="['/']" class="logo">NR</a>
    	<div class="lines"></div>
    	<a class="navVenues">Venues</a>
    	<a class="navLabels">Labels</a>
    	<ul class="pages">
    		<li><a>About Us</a></li>
    		<li><a>Upcoming Shows & Tickets</a></li>
    		<li><a>Booking</a></li>
    	</ul>
    </nav>
    <div class="mainWrapper">
    	<div class="header">
    		<img class="splash" [src]="'/res/splash.svg'">
    		<div>
    			<h1 class="title">Nu-Ricks</h1>
    			<h2>Live Indie Music</h2>
    		</div>
    	</div>
    	<div id="events"></div>
    </div>
</body>
