<a href="#about" class="navAbout">About Us</a>
<a href="#upcoming" class="navUpcoming">Upcoming Shows</a>
<div class="mainWrapper">
	<div id="header">
		<img class="splash" src="https://i.imgur.com/yGEruBk.png">
		<div>
			<h1 class="title">Nu-Ricks</h1>
		</div>
		<a href="#about"><i class="fa fa-chevron-down"></i></a>
	</div>
	<div id="about">
		<h1 class="title">About Us</h1>
		<hr>
		<h2>NU-Ricks is the highest volume independent live music company in the SF Bay Area.</h2>
		<h1>Artists</h1>
		<p>NU-Ricks enables artists to grow their networks, get on stage and build a performance resume all while making money while performing.</p>
		<h1>Venues</h1>
		<p>NU-Ricks can drive foot traffic to your venue. This leads to increased bar sales, better notoriety, and repeat customers.</p>
		<h1>Labels</h1>
		<p>Ensure your artists gain the necessary exposure and notoriety they deserve. With our promotional strategies, you can be assured that your artist will be treated and promoted in the most professional of manners.</p>
		<hr>
		<a href="#upcoming"><i class="fa fa-chevron-down"></i></a>
	</div>
	<div id="upcoming">
		<h1 class="title">Contact Us</h1>
		<hr>
		<h1>Email: some@email.com</h1>
		<h1>Phone: 123-555-2355</h1>
		<h1>Other stuff</h1>
		<hr>
	</div>
</div>
