// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@import "../abstracts/variables";

.btn, button {
  display: inline-block;
  width: auto;
  height: $md;
  line-height: $md;
  text-align: center;
  font-size: $tM;
  padding: 0 16pt;
  border-radius: 3px;
  background: $mid-grey;
  color: $light-grey;
  cursor: pointer;
  white-space: nowrap;
  transition: background .2s ease-in-out;
}

.btnL {
  height: $lg;
  line-height: $lg;
  font-size: $tL;
}

.btnS {
  height: $sm;
  line-height: $sm;
  font-size: $tS;
}

.back {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  font-size: $tS;
  cursor: pointer;

  & > * {
    display: inline-block;
  }
}

.optionBtn {
  background: $bg;
  padding: 8pt;
  margin: 0 2pt;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba($mid-grey, 0.5);
  transition: all .15s ease;
  &:hover {
    background: $text-color;
    color: $bg;
  }
}