<div class="adminPanel" style="margin-top: 100px">
    <span class="adminTabs">
        <span class="active" data-show="adminAllShows">All Shows</span>
        <span data-show="adminAllArtists">All Artists</span>
        <span data-show="addShowForm">Create Show</span>
    </span>
    <div class="adminAllShows">
        <input type="text" placeholder="Search Shows" class="showSearch">
        <div class="showgrid">

            <div *ngFor="let event of as.events" class="showBlock SBVertical">
                <a class="showImg" [style.background-image]="'url('+ event.image_url +')'"></a>
                <div class="showDetails">
                    <h1>{{event.eventName}}</h1>
                    <h3>{{event.eventDate}} &mdash; <span>${{event.cost}}</span></h3>
                    <a><i class="fa fa-pencil"></i> Edit</a>
                </div>
                <input type="text" placeholder="Public artists">
            </div>

        </div>
    </div>
    <div class="adminAllArtists" style="display: none">
        <input type="text" placeholder="Search Artists" class="artistSearch">

        <div class="artistGrid">

            <div *ngFor="let musician of as.musicians" class="artistBlock">
                <div class="artistImg" [style.background-image]="'url('+ musician.picture_url +')'"></div>
                <h1>Name:</h1>
                <h2>{{musician.stageName}}</h2>
                <h2>{{musician.firstName}} {{musician.lastName}}</h2>
                <h1>Email: <a>{{musician.email || "No Email"}}</a></h1>
                <h1>Created: <span>{{musician.createdAt}}</span></h1>
                <h1>Social:
                    <a><i [attr.href]="musician.facebookLink" target="_blank" *ngIf="musician.facebookLink != null   && musician.facebookLink != ''"   class="fa fa-facebook"></i></a>
                    <a><i [attr.href]="musician.soundcloudLink" target="_blank" *ngIf="musician.soundcloudLink != null && musician.soundcloudLink != ''" class="fa fa-soundcloud"></i></a>
                    <a><i [attr.href]="musician.instagramLink" target="_blank" *ngIf="musician.instagramLink != null  && musician.instagramLink != ''"  class="fa fa-instagram"></i></a>
                    <a><i [attr.href]="musician.youtubeLink" target="_blank" *ngIf="musician.youtubeLink != null    && musician.youtubeLink != ''"    class="fa fa-youtube"></i></a>
                </h1>
            </div>

        </div>
    </div>
    <form style="display: none" #form="ngForm" (ngSubmit)="addShow(form.value)" class="addShowForm">
        <h1 class="title">Add a show</h1>
        <h3>All fields are required.</h3>
        <hr>
        <label for="eventName">Event Name:</label>
        <input name="eventName" type="text" id="eventName" placeholder="Event name" ngModel>
        <label for="eventDate">Event Date:</label>
        <input name="eventDate" type="text" id="eventDate" placeholder="Event Date" ngModel>
        <h2>Event Image:</h2>
        <input name="image_url" type="text" id="imageUrl" placeholder="Image URL" ngModel>
        <h1>Event Time</h1>
        <label for="doorsOpen">Doors Open:</label>
        <input name="doorsOpen" type="text" id="doorsOpen" placeholder="Doors open time" required ngModel>
        <label for="showStarts">Show Starts:</label>
        <input name="ShowStarts" type="text" id="showStarts" placeholder="Show start time" required ngModel>
        <h1>Event Location</h1>
        <label for="eventStreet">Street:</label>
        <input name="street_name" type="text" id="eventStreet" placeholder="Street" required ngModel>
        <label for="eventZIP">ZIP Code:</label>
        <input name="zip_code" type="text" id="eventZIP" placeholder="ZIP code" required ngModel>
        <label for="eventCity">City:</label>
        <input name="city" type="text" id="eventCity" placeholder="City" required ngModel>
        <label for="eventState">State:</label>
        <input name="state" type="text" id="eventState" placeholder="State" required ngModel>
        <h1>Ticket Info</h1>
        <label for="eventCost">Ticket Cost:</label>
        <span><p>$</p><input name="cost" type="text" id="eventCost" placeholder="Event cost" required ngModel></span>
        <label for="eventAtDoor">Extra Cost At Door:</label>
        <span><p>$</p> <input name="extraAtDoor" type="text" id="eventAtDoor" placeholder="Extra cost at door" required ngModel></span>
        <label for="ticketsRequired">Minimum Tickets:</label>
        <input name="numberNeededToSell" type="text" id="ticketsRequired" placeholder="Minimum tickets an artist must sell" required ngModel>
        <label for="eventAge">Age Requirement:</label>
        <input name="ageRequirement" type="text" id="eventAge" placeholder="Age requirement" required ngModel>
        <label for="availableEvent">Make event available to all artists? <input name="isPossibleEvent" type="checkbox" id="availableEvent" ngModel></label>
        <button type="submit">Add Event</button>
    </form>
</div>
