<div class="userWrapper">
    <h1 class="title">Account</h1>
    <div class="userTabs" *ngIf="ps.userObject.customer_id">
        <span data-show="_settings" class="tab">Settings</span>
        <span data-show="_payment" class="tab activeTab">Payment</span>
        <span data-show="_transactionhistory" class="tab">Transaction History</span>
    </div>
    <div class="userSettings" *ngIf="!ps.userObect?.customer_id && !ps.userObject?.email">
        <form id="nonceForm" action="" class="emailConfirm">
            <h2>Please confirm your email before you can purchase tickets:</h2>
            <input id="emailInput" type="text">
            <button (click)="updateEmail()">Submit</button>
        </form>
    </div>
    <div class="userSettings _settings _userpanel" *ngIf="ps.userObject.customer_id" style="display: none;">
        <form id="nonceForm" action="" class="emailConfirm">
            <h2>Update Email</h2>
            <input id="emailInput" type="text" [attr.value]="ps.userObject.email">
            <button (click)="updateEmail()">Submit</button>
        </form>
    </div>
    <div class="paymentOptions _payment _userpanel">
        <div class="paymentOption" *ngIf="ps.userObject.customer_id">
            <span class="deletePO" (click)="deletePaymentMethod()">DELETE</span>
            <h1><i class="fa fa-cc-visa"></i> Card ending in {{ps.userObject.card_digits}}</h1>
        </div>
        <div (click)="cardNewWindow()" *ngIf="!ps.userObject?.customer_id && ps.userObject?.email" class="paymentOption newPO">
            <i class="fa fa-plus"></i>
            <h2>Add Payment Option</h2>
        </div>
    </div>
    <ng-container *ngIf="ps.userObject.customer_id">
        <table class="transactionHistory _transactionhistory _userpanel" style="display: none;">
            <tr>
                <th>Event</th>
                <th>Total</th>
                <th>Order Placed</th>
            </tr>
            <tr *ngFor="let t of transactions">
                <td>Event #1</td>
                <td>{{t.amount}} + {{t.serviceFeeAmount ? t.serviceFeeAmount : 0}} Service Fee</td>
                <td>April 23, 2017 8:37PM</td>
            </tr>
        </table>
    </ng-container>
    <button class="deleteProfile" (click)="deleteAccount()"><i class="fa fa-times-circle"></i> Delete Profile</button>
</div>
