<nav>
	<div class="navbar">
		<div class="hamburger">
			<div></div>
		</div>
	</div>
	<a [routerLink]="['/']" class="logo">NR</a>
	<ul class="pages">
		<li><a>Tickets</a></li>
		<li><a>Booking</a></li>
		<li class="login" id="mLogin" *ngIf="ps.userObject.fbid == '' && ps.musicianObject.fbid == ''"><a>Login</a></li>
        <li class="login" [routerLink]="['/dashboard']" *ngIf="ps.userObject.fbid != '' || ps.musicianObject.fbid != ''"><a>{{ps.userObject.firstName || ps.musicianObject.firstName}}</a></li>
        <li *ngIf="ps.userObject.fbid != '' || ps.musicianObject.fbid != ''"><a (click)="logout()">logout</a></li>
	</ul>
</nav>
