<nav style="top: 0">
	<div class="navbar">
		<div class="hamburger">
			<div></div>
		</div>
	</div>
	<a [routerLink]="['/']" class="logo">NR</a>
	<ul class="pages">
		<li><a>Tickets</a></li>
		<li><a>Booking</a></li>
		<li class="login" id="mLogin" *ngIf="ps.userObject.fbid == '' && ps.musicianObject.fbid == ''"><a>Login</a></li>
        <li class="login" [routerLink]="['/dashboard']" *ngIf="ps.musicianObject.fbid != ''"><a>{{ps.musicianObject.firstName}}</a></li>
		<li class="login" [routerLink]="['/user']" *ngIf="ps.userObject.fbid != ''"><a>{{ps.userObject.firstName}}</a></li>
        <li *ngIf="ps.userObject.fbid != '' || ps.musicianObject.fbid != ''"><a (click)="logout()">logout</a></li>
	</ul>
</nav>
<div class="loginOverlay" style="display: none">
	<div class="center">
		<a class="visitorLogin" href="http://localhost:3000/api/users/auth/facebook">
			<h1>Visitor Access</h1>
			<span><i class="fa fa-facebook"></i>Facebook Login</span>
		</a>
		<a class="musicianLogin" href="http://localhost:3000/api/musicians/auth/facebook">
			<h1>Musician Access</h1>
			<span><i class="fa fa-facebook"></i>Facebook Login</span>
		</a>
	</div>
</div>
