extends layout

block title
    title= title
block body
    h1
        a(href="/")#title Nu Ricks
    h1
        a(href="/about")#title About
    h1
        a(href="/login")#title Login
    h1
        a(href="/contact")#title Contact